.classpath
*.dat
gradlew
.project
*.iml

DetailWindow.json
MainWindow.json

build/
.gradle/
gradle/
.idea/
observations/

bin/
.settings/
.settings/*.prefs

src/main/java/Library.java
src/test/java/LibraryTest.java
